#contenedor-procesador {
    float: left;
    height: 100lvh;
}

#procesador {
    position: absolute;
    height: calc(100% - 210px);
    min-height: 470px;

    margin-top: 168px;
    margin-left: 240px;
    
    width: auto;
}

#texto-ingresado {
    width: calc(100% - 4px);
    height: 48px;
    
    background-color: #F3F5FC;
    color: #0A3871;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 32px;

    border: none;
}

#texto-ingresado:focus {
    outline: none;
}

#alinear-abajo {
    height: calc(100% - 140px);
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#consideracion {
    position: relative;

    width: 229px;
    height: 18px;
    

    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

#encriptar {
    background-color: #0A3871;
    color: #FFFFFF;

    border-style: none;
}

#desencriptar {
    background-color: #D8DFE8;
    
    border-color: #0A3871;
}


.boton {
    width: 328px;
    height: 67px;
    
    border-radius: 24px;
}

.texto-boton {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

