<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge - Encriptador de texto</title>
    <link rel="stylesheet" href="../resources/style/background.css">
    <link rel="stylesheet" href="../resources/style/formulario.css">
    <link rel="stylesheet" href="../resources/style/traductor.css">
    <script defer src="../script/indexController.js"></script>
    <script defer src="../script/Encriptador.js"></script>
</head>
<body>
    <img src="../resources/images/logo-alura.png" alt="logo-alura" id="logo">
    <section id="contenedor-procesador">
        <div id="procesador">
            <form>
                <input type="text" name="texto-ingresado" id="texto-ingresado" placeholder="Ingesa el texto aquí">
            </form>
            <div id="alinear-abajo">
                <div>
                    <p id="consideracion"><img src="../resources/images/info-alura.png" alt="Consideración:"> Solo letras minúsculas y sin acentos</p>
                    <button id="encriptar" class="boton texto-boton">Encriptar</button>
                    <button id="desencriptar" class="boton texto-boton">Desencriptar</button>
                </div>
            </div>
        </div>
    </section>
    <section id="contenedor-traductor">
        <div id="traductor">
            <p id="respuesta">Texto de respuesta</p>
            <img src="../resources/images/muneco.png" alt="Información" id="muneco">
            <p id="destacado">Ningún ensaje fue encontrado</p>
            <p id="informativo">Ingresa el texto que desees encriptar o desencriptar</p>
        </div>
    </section>
</body>
</html>